.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}
.mainTitle{
    width: 100%;
    padding: 8rem 0;
    align-self: center;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.containerLinks{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}
.containerLinksLeft{
    border-right: 1px solid #ccc;
    margin-right: 10rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: column;
    gap:2rem;
    /* width: 20rem; */
}
.containerLinksLeft h2 {
    font-size: 24px;
}
.icons{
    display: flex;
    gap:1rem;
    cursor: pointer;
}
.containerLinksLeft h2 {
    font-size: 24px;
}
.containerLinksRight{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    cursor: pointer;
}

@media (max-width:1024px){
    .container {
        margin: 0 auto;
    }
    .containerLinks{
        width: 40rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5rem 0;
    }
    .containerLinksLeft{
        border-right: 1px solid #ccc;
        margin-right: 10rem;
        padding-right: 10rem;
        display: flex;
        flex-direction: column;
        gap:2rem;
        /* width: 20rem; */
    }
    .containerLinksLeft h2 {
        font-size: 24px;
    }
    .icons{
        display: flex;
        gap:1rem;
    }
    .containerLinksLeft h2 {
        font-size: 24px;
    }
    .containerLinksRight{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}