/* header {
    background-color: bisque;
} */

.container {
    max-width: 100%;
    margin: 0 15rem;
    padding: 1rem 5rem;
    
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 2rem;;
}
.topBarLeft {
    display: flex;
    gap: 1rem;
}
.topBarLeft a {
    color: darkgrey;
}
.topBarLeft a:hover {
    color: #1a1a1a;
}
.activeLink{
    color: black !important;
}
.brandLogo {
    height: 2.4rem;
    width: 8.8rem;
}
.topBarRight {
    display: flex;
    gap: 1rem;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainNavLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.mainNavRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchIcon {
    color: #cacaca;
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    transition: color 0.6s ease;
}

.searchIcon:hover {
    color: #1a1a1a;
}

.mainNavRight input{
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #cacaca;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease, color 0.3s ease;
}
.mainNavRight input:hover,
.mainNavRight :focus {
    border-color: #1a1a1a;
    color: #1a1a1a;
}
