/* .header {
    position: relative;
    z-index: 1001;
} */
.container {
    display: block;
    max-width: 90rem; /* или другое значение */
    width: 100%;
    margin: 0 auto;    /* автоцентровка */
    padding: 1rem 2rem; /* можно задать отступы, подходящие для мобильных устройств */
}

.mobileContainer{
    display: none;
    max-width: 90rem; /* или другое значение */
    width: 100%;
    margin: 0 auto;    /* автоцентровка */
    padding: 1rem 2rem; /* можно задать отступы, подходящие для мобильных устройств */
}


.topBar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 2rem;;
}
.topBarLeft {
    display: flex;
    gap: 1rem;
}
.topBarLeft a {
    color: darkgrey;
}
.topBarLeft a:hover {
    color: #1a1a1a;
}
.activeLink{
    color: black !important;
}
.brandLogo {
    max-width: 100%;
    height: 2.4rem;
    width: 8.8rem;
}
.topBarRight {
    display: flex;
    gap: 1rem;
}

.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}
.mainNavLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.mainNavRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainNavRight input{
    width: 20rem;
    height: 2.5rem;
    border: 1px solid #cacaca;
    padding: 1rem 2.5rem;
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease, color 0.3s ease;
}
.mainNavRight:hover input,
.mainNavRight:hover.searchIcon,
.mainNavRight :focus {
    border-color: #1a1a1a;
    color: #1a1a1a;
}

.searchIcon {
    color: #cacaca;
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    transition: color 0.6s ease;
}

.searchIcon:hover {
    color: #1a1a1a;
}

/* TODO: input должен прерватится в иконку  */
@media (max-width: 1024px) { /*планшеты*/
    .container{
        display: none;
    }

    .mobileContainer{
        display: block;
        padding: 0 2rem;
        position: relative;
    }
    .topBar {
        display: flex;
        justify-content: space-between;
        align-items:center;
        padding-bottom: 0;

    }
    .topBarLeft {
        display: flex;
        justify-content: flex-start;
        align-items:center;
    }
    .topBarLeft button{
        padding: 0;
        margin: 0;

        border: none;
        background-color: #fff;
    }
    .topBarLeft:hover button{
        border: none;
        color: black;
    }
    .topBarLeft button:focus{
        outline: none;
    }
    .topBarLeft svg{
        height: 2rem;
        width: auto;
    }
    .topBarLeft:hover svg {
        transform: none;
    }

    .brandLogo {
        max-width: 80%;
        height: 2.4rem;
        width: 8.8rem;
    }
}
