.blockInfo {
    position: relative;
    /* чтобы кнопки-стрелки могли располагаться поверх контента */
    width: 100%;
    max-width: 67%;
    margin: 0 auto;
}

/* .container{
    padding-left: 2rem;
    padding-right: 2rem;
} */

.blockContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin: 3rem;
    /* margin-top: 8rem; */
    font-weight: 500;
    /* font-size: 1.5rem; */
}
.blockContent h2 {
    font-size: 2rem;
}
.blockContent p {
    color:#585858
}

.buttonExplore {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonExplore button{
    font-size: 1rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}