.Footer {
    border-top: 1px solid #e0e0e0;
}

.newsletter{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 0;
}
.newsletter h2{
    text-transform: uppercase;
}

.blockForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;   
    width: 38rem;
}
.blockForm input,
.blockForm button {
    height: 3rem;
    box-sizing: border-box;
}
.blockForm input{
    flex: 1;
}
.blockForm button{
    font-size: 1rem;
}


.footerInfo{
    background-color: black;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: row;
    height: 27rem;

    margin: 10rem 20rem;
    line-height: 2.2;
}
.container img{
    height: 2.5rem;
    width: 100%;
}
.container svg {
    background-color: #000000;
    color: #fff;
    border: 1px solid #4b4b4b;
    border-radius: 50%;
    width: 2.5rem; /* Увеличиваем размер контейнера */
    height: 2.5rem;
    padding: 0.4rem; /* Отступ остаётся */
    box-sizing: border-box; /* Включаем padding и border в width/height */
}
.container:hover svg {
    color: #fff;
}
.container h3{
    color:#fff;
}
.container a {
    color: #bbbbbb;
}
.container1{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.containerImages {
    display: flex;
    gap: 3rem;
    margin-left: 0.5rem;
}

.bottomText{
    margin: 3rem 6rem;
    line-height: 1.5;
    
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-direction: column;
    gap: 2rem;
}
.bottomText h3 {
    font-size:medium;
    margin-bottom: 0.5rem;
}
.bottomText p{
    color: #818181;
}