.slider {
    position: relative;
    /* чтобы кнопки-стрелки могли располагаться поверх контента */
    width: 100%;
    max-width: 100%;
    margin: 0 0 6.4rem;
    /* overflow: hidden; */
    /* скрывает лишний контент за границами, когда будем прокручивать */
}

.leftArea {
    left: 0;
}
.rightArea {
    right: 0;
}

.card {
    min-width: 20rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card:hover img {
    transform: scale(1.05);
  }

.cardContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    bottom: 3rem;
    color:#fff;
}

.cardContent h3 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
}

:global(.swiper-button-disabled) {
    opacity: 0;
    pointer-events: none;
  }
