.slider {
    position: relative;
    /* чтобы кнопки-стрелки могли располагаться поверх контента */
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
    /* скрывает лишний контент за границами, когда будем прокручивать */
}

/* .leftArea, .rightArea {
    position: absolute;
    top:0;
    bottom: 0;
    width: 50%;
    opacity: 0;
} */

.leftArea {
    left: 0;
}
.rightArea {
    right: 0;
}

.card {
    min-width: 20rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card:hover img {
    transform: scale(1.05);
  }

.cardContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    bottom: 3rem;
    color:#fff;
}

.cardContent h3 {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem; /* Квадратная кнопка */
    height: 3rem; /* Квадратная кнопка */
    padding: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fff;
    border: none; /* Убираем бордюр по умолчанию */
    outline: none; /* Убираем контур по умолчанию */
    cursor : pointer;
    z-index: 10; /* чтобы кнопки были поверх карточек */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Плавное движение */
}
.arrow:hover {
    color: #1a1a1a;
    background-color:#fff ;
}
.arrow:focus {
outline: none;   /* Убираем контур при фокусе */
}
.arrow svg {
    position: absolute;
    transition: transform 0.3s ease;
}
.arrowLeft:hover svg{
    transform: translateX(-5px);
}
.arrowRight:hover svg{
    transform: translateX(5px);
}
/* Скрываем кнопку, когда она неактивна */
/* Глобальный стиль для swiper-button-disabled */
:global(.swiper-button-disabled) {
    opacity: 0;
    pointer-events: none;
  }
.arrowLeft {
    left: 0;
}

.arrowRight {
    right: 0;
}

