.slider {
    position: relative;
    /* чтобы кнопки-стрелки могли располагаться поверх контента */
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
    /* скрывает лишний контент за границами, когда будем прокручивать */
}

.sliderWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    transition: transform 0.5s ease;
    gap: 1rem;
}

.card {
    min-width: 20rem;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
}
.card img{
    width: 100%;
    max-width: 20rem;
    /* чтобы картинка не вылехала за края */
    height:auto;
    display: block;
    /* object-fit: cover; */
}

.cardContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    bottom: 2rem;
    color:#fff;
}

.cardContent h3 {
    margin: 0 0 0.5rem;
}

.arrow {
    position: absolute;
    /* width: auto; */
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    background: none;
    border: none;
    cursor : pointer;
    z-index: 10;
    /* чтобы кнопки были поверх карточек */
}
.arrowLeft {
    left: 0;
}

.arrowRight {
    right: 0;
}